---
Language: Cpp
BasedOnStyle: Google

BinPackArguments: false
BinPackParameters: false

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: 'pch.h'
    Priority: 0
  - Regex: '^<'
    Priority: 1
  - Regex: '^".*/'
    Priority: 2
  - Regex: '(^((?!/).)*$)'
    Priority: 3

SortIncludes: true
