*.a
*.gcda
*.gcno
*.la
*.lo
*.log
*.o
*.trs
.DS_Store
.deps
.libs
ABOUT-NLS
COPYING
Makefile
Makefile.in
aclocal.m4
audiofile-uninstalled.pc
audiofile.pc
audiofile.spec
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
intl
libtool
ltconfig
ltmain.sh
missing
mkinstalldirs
so_locations
stamp-h
stamp-h.in
stamp-h1
test-driver
version.h
