ADPCM
AES
ALAC
ChannelMatrix
Error
FLAC
FloatToInt
FormatWithChannels
Identify
Instrument
IntToFloat
InvalidCompressionFormat
InvalidSampleFormat
Large
Loop
Marker
Miscellaneous
NeXT
PCMData
PCMMapping
Pipe
Query
SampleFormat
Seek
Sign
VirtualFile
coverage
floatto24
instparamtest
instparamwrite
printmarkers
query2
sixteen-to-eight
testaupv
testchannelmatrix
testdouble
testfloat
testmarkers
twentyfour
twentyfour2
writealaw
writeraw
writeulaw
